
<% day_of_weeks = DayOfWeek.all %>
<% block_times = BlockTime.all %>
<table>
  <tr>
    <th>コマ / 曜日</th>
<% day_of_weeks.each do |dow| %>
    <th class="schedule-cell"><%= dow.name %></th>
<% end %>
  </tr>

<% block_times.each do |bt| %>
  <tr>
    <th><%= bt.name %></th>
<%   day_of_weeks.each do |dow|
	   # このコマで参加可能なメンバー人数を調べる
	   ok_members = MemberIdle.where(
         member_id: this_members.pluck(:id),
         day_of_week_id: dow.id,
         block_time_id: bt.id
       )
       ratio = ok_members.count.to_f / this_members.count

       if ratio < 0.50 then %>
    <td class="schedule-cell group-schedule-bad">×
<%     elsif ratio < 0.75 then %>
    <td class="schedule-cell group-schedule-good">△
<%     elsif ratio < 1.00 %>
    <td class="schedule-cell group-schedule-better">〇
<%     else %>
    <td class="schedule-cell group-schedule-best">◎
<%     end %>
      &nbsp; (<%= (ratio * 100).to_i %> %)
    </td>

<%   end %>
  </tr>
<% end %>

</table>
